[Unit]
Description=gunicorn3 daemon
Requires=gunicorn3.socket
After=network.target

[Service]
PIDFile=/run/gunicorn3/pid
User=www-data
Group=www-data
RuntimeDirectory=gunicorn3
WorkingDirectory=/apps/Tyger2/backend
ExecStart=/usr/bin/gunicorn3 --pid /run/gunicorn3/pid   \
          --bind unix:/run/gunicorn3/socket backend.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target